@page
@model EshopWeb.Pages.Auth.SignInModel
@{
}

<div class="container">
    <div class="w-50 card p-4 shadow ms-auto me-auto">
    <h3 class="mb-3">Login Account</h3>
        <div class="mb-3">
            <label for="username" class="form-label">Username :</label>
            <input type="text" class="form-control" id="username" placeholder="Enter the Username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Your Password :</label>
            <input type="password" class="form-control" id="password" placeholder="Enter the Password" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-success" type="submit" id="SignUp">Login</button>
        </div>
    </div>
</div>
